$base-color:#292929;
$secondary-color:#202020;

html {
  margin: 0;
  background-color: $base-color;
  display: grid;
  place-items: center;
  height:100%;
  font-family: "Arial";
  body{
    display: grid;
    place-items: center;
    color: whitesmoke;
    font-size: large;
    background-color: $secondary-color;
    width: 20%;
    padding: 30px;
    border: transparent 0px black;
    border-radius: 25px;
    form{
      font-size: large;
      display: grid;
      place-items: center;
      margin: 0;
      padding: 0;
    }
    a{
      color: whitesmoke;
      padding: 15px;
      border: transparent 0px solid;
      border-radius: 25px;
      margin-top: 10px;
      background-color: $base-color;
      text-decoration: none;
    }
    input{
      background-color: whitesmoke;
      border: transparent 0px solid;
      border-radius: 5px;
      padding: 10px;
      font-size: large;
      text-align: center;
    }
    textarea:focus, input:focus{
      outline: none;
    }
    strong{
      font-size: x-large;
      margin-bottom: 8px;
      margin-top: 8px;
      animation-name: 'fondu';
      animation-duration: 1s;
    }
    small{
      margin-top: 10px;
    }
  }
}

button{
  margin-bottom:12px;
  background-color: blue;
  color: whitesmoke;
  padding: 5px;
  font-size: 30px;
  border: 0px transparent solid;
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

@keyframes fondu {
	from {
		opacity: 0;
    transform: scale(0.5);
	}

	to {
		opacity: 1;
    transform: scale(1);
	}
}